/* header */
@font-face {
  font-family: robot;

  font-style: normal;
  font-weight: 100;
  src: url(fonts\Recoleta-Bold.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "spartan", "sans-serif";
}
a{
 text-decoration: none;
}
.ch-atom-para-f17 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 6px;
  letter-spacing: -1px;
}
.ch-atom-btn {
  border-radius: 100px;
  border-width: 1px;
  cursor: pointer;
}
.ch-headertop {
  background-color: rgb(99, 172, 252);
}
.ch-headertop--mb {
  margin-bottom: -10px;
}
.ch-header__logo {
  margin-left: -12px;
}
.ch-header__btn {
  background-color: white;
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  color: rgb(99, 172, 252);
  width: 96px;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-right: -10px;
  padding: 0px;
}
/* header */
/* section 1 */
.ch-banner {
}
.ch-banner__img {
  padding-right: 4px;
}
.ch-banner__img--width {
  width: 100%;
}
 @media (min-width: 550px) {
  .ch-header__logo {
    margin-left: -5px;
    width: 26%;
  }
  .ch-headertop--mb {
    margin-bottom: -16px;
  }
  .ch-navbar {
    padding-top: 5px;
  }
  .ch-header__btn {
    background-color: white;
    border-bottom-color: rgb(99, 172, 252);
    border-top-color: rgb(99, 172, 252);
    border-left-color: rgb(99, 172, 252);
    border-right-color: rgb(99, 172, 252);
    color: rgb(99, 172, 252);
    width: 96px;
    height: 35px;
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: -10px;
    padding: 0px;
  }
}
@media (min-width: 990px) {
  .ch-headertop--mb {
    margin-bottom: 30px;
  }
  .ch-atom-btn {
    border-radius: 100px;
    border-width: 2px;
    cursor: pointer;
  }
  .ch-header {
    padding-left: 13px;
    padding-right: 20px;
  }

  .ch-header__btn {
    background-color: white;
    border-color: rgb(99, 172, 252);
    color: rgb(99, 172, 252);
    width: 150px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: -10px;
    display: inline-block;
  }
  .ch-header__link {
    padding-left: 15px;
    padding-right: 13px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .ch-header__logo {
    margin-left: -9px;
    margin-top: -10px;
    width: 17%;
  }
}
 /* SECTION 1 STARTS */
 .ch-molc-section1{
  padding-top: 51px;
}
 .ch-atom-fontfamily
 {
   font-family: 'EB Garamond', serif;
 }
 .ch-atom-h1{
   font-size: 62px;
   font-weight: 700;
   line-height: 1;
   max-width: 371px;
 }
 .ch-atom-p{
   max-width: 372px;
   font-size: 16px;
   font-weight: 500;
 }
 .ch-atom-p--pcolor
 {
  color: gray;
 }
 .ch-atom-btn{
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  width: 160px;
  line-height: 18px;

 }
 .ch-atom-btn--bgcolor
 {
  background-color: rgb(99, 172, 252);
 }
 .ch-atom-sectionlink{
   font-size: 16px;
   font-weight: 500;

 }
 .ch-atom-sectionlink-color{
   color: rgb(99, 172, 252);
   
 }
 .ch-atom-imgsec1{
   margin-top: -25px;
   
 }
 @media only screen and (max-width:585px)
 {
  
  .ch-atom-h1{
    max-width: 371px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  
  }
  .ch-atom-p{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    max-width: 350px;
  }
  .ch-atom-btn{
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    width: 160px;
    line-height: 18px;
    
   
    
  
   }
 }
 @media only screen and (max-width: 800px) and (min-width: 765px){

  .ch-org-customersupport{
    background-color: rgb(248, 251, 255);
    border-radius: 40px;
    height: 409px;
  }
  .ch-content-table{
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 15px;
  }
  .ch-molc-customer__title{
    font-size: 35px;
    font-weight: 800;
    color: rgb(64, 63, 87);
    line-height: 31px;
  }
  .img-plane1 {
    position: absolute;
    transform: translate(414%, -304%);
    width: 100px;
  }
  .img-plane2 {
    position: absolute;
    transform: translate(513%, 118%);
    width: 100px;
  }
  .img-headphone{
    position: absolute;
    transform: translate(-13%, -44%);
      width: 358px;
  }
  .ch-atom-h1{
    
    font-size: 51px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    max-width: 517px;
  
  }
  .ch-atom-p{
    max-width: 429px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
    color: black;
  }
 }
 /* SECTION ENDS */
 /* section 2 strats */
 .ch-content-table{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 15px;
}
.ch-molc-customer__title{
  font-size: 35px;
  font-weight: 800;
  color: rgb(64, 63, 87);
  line-height: 35px;
}
.img-plane1 {
  position: absolute;
  transform: translate(634%, -329%);
  width: 100px;
}
.img-plane2 {
  position: absolute;
  transform: translate(758%, 126%);
  width: 100px;
}
.img-headphone{
  position: absolute;
  transform: translate(-66%, -55%);
  width: 374px;
}
 @media only screen and (max-width:585px){
 .ch-org-customersupport{
  background-color: rgb(248, 251, 255);
  border-radius: 40px;
  height: 664.359px;
}
.ch-molc-customer{
  margin-top: 40px;
}
.ch-molc-customer__title{
  font-size: 28px;
  font-weight: 800;
  color: rgb(64, 63, 87);
  line-height: 31px;
}

.ch-atom-fontsm{
  font-size: 12px;
  font-weight: 600;
}
.ch-molc-card{
  width:152.5px ;
  height: 112px;
  margin-bottom: 60px;
 padding-top: 40px;
}
.ch-atom-cardimage{
  width: 70px;
  height: 70px;
}
.ch-content-table{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.img-plane1 {
  position: absolute;
  transform: translate(125%, -351%);
  width: 100px;
}
.img-plane2 {
  position: absolute;
  transform: translate(-67%, 437%);
  width: 100px;
}
.img-headphone{
  position: absolute;
  transform: translate(-66%, -95%);
  width: 129px;
}
 }
 @media only screen and (max-width: 800px) and (min-width: 765px){

  .ch-org-customersupport{
    background-color: rgb(248, 251, 255);
    border-radius: 40px;
    height: 409px;
  }
  .ch-content-table{
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 15px;
  }
  .ch-molc-customer__title{
    font-size: 35px;
    font-weight: 800;
    color: rgb(64, 63, 87);
    line-height: 31px;
  }
  .img-plane1 {
    position: absolute;
    transform: translate(414%, -304%);
    width: 100px;
  }
  .img-plane2 {
    position: absolute;
    transform: translate(513%, 118%);
    width: 100px;
  }
  .img-headphone{
    position: absolute;
    transform: translate(-30%, -121%);
      width: 129px;
  }
}
/* Section 2 ends */
/* section 3 starts */
@media only screen and (max-width:585px){
  .ch-org-chirpish-work{
    padding-top: 80px;
  }
  .ch-molc-chirpish-top{
  
  }
  .ch-molc-card2{
   padding-left: 15px;
  }
  .ch-atom-card-title{
    font-size: 20px;
    font-weight: 400;
  }
  .ch-atom-cardimage2{
    width: 75px;
    height: 90px;
  }
  .ch-molc-card2__para{
     
      color: rgb(118, 118, 118);
      font-size: 12px;
      font-weight: 400px;
      line-height: 18px;
      padding-top: 8px;
  }
}
 