/* header */
@font-face {
  font-family: robot;

  font-style: normal;
  font-weight: 100;
  src: url(fonts\Recoleta-Bold.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "spartan", "sans-serif";
}
.ch-atom-para-f17 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 6px;
  letter-spacing: -1px;
}
.ch-atom-btn {
  border-radius: 100px;
  border-width: 1px;
  cursor: pointer;
}
.ch-headertop {
  background-color: rgb(99, 172, 252);
}
.ch-headertop--mb {
  margin-bottom: -10px;
}
.ch-header__logo {
  margin-left: -12px;
}
.ch-header__btn {
  background-color: white;
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  color: rgb(99, 172, 252);
  width: 96px;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-right: -10px;
  padding: 0px;
}
/* header */
/* section 1 */
.ch-banner {
}
.ch-banner__img {
  padding-right: 4px;
}
.ch-banner__img--width {
  width: 100%;
}
 @media (min-width: 550px) {
  .ch-header__logo {
    margin-left: -5px;
    width: 26%;
  }
  .ch-headertop--mb {
    margin-bottom: -16px;
  }
  .ch-navbar {
    padding-top: 5px;
  }
  .ch-header__btn {
    background-color: white;
    border-bottom-color: rgb(99, 172, 252);
    border-top-color: rgb(99, 172, 252);
    border-left-color: rgb(99, 172, 252);
    border-right-color: rgb(99, 172, 252);
    color: rgb(99, 172, 252);
    width: 96px;
    height: 35px;
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: -10px;
    padding: 0px;
  }
}
@media (min-width: 990px) {
  .ch-headertop--mb {
    margin-bottom: 30px;
  }
  .ch-atom-btn {
    border-radius: 100px;
    border-width: 2px;
    cursor: pointer;
  }
  .ch-header {
    padding-left: 13px;
    padding-right: 20px;
  }

  .ch-header__btn {
    background-color: white;
    border-color: rgb(99, 172, 252);
    color: rgb(99, 172, 252);
    width: 150px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: -10px;
    display: inline-block;
  }
  .ch-header__link {
    padding-left: 15px;
    padding-right: 13px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .ch-header__logo {
    margin-left: -9px;
    margin-top: -10px;
    width: 17%;
  }
}
